      <div class="p-2"><%= customer.name %></div> <!-- Assuming 'name' attribute exists -->
      <div class="p-2"><%= customer.address %></div> <!-- Assuming 'name' attribute exists -->
      <div> <%= link_to "Show this customer", customer, class: "text-blue-500" %></div>

